*{
    margin: 0;
    padding: 0;
    font-family: "Poppins"sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.music-player{
    background: #ffe0e5;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
    border-radius: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: white;
    color: #f53192;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
    cursor: pointer;
}

.song-img{
    width: 320px;
    height: 320px;
    border: 8px solid white;
    border-radius: 50%;
    box-shadow: 0px 10px 60px rgba(255, 26, 26, 0.22);
}

.music-player h1{
    font-size: 30px;
    font-weight: 400;
    color: #333;
    margin-top: 20px;
}

.music-player p{
    font-size: 18px;
    color: #333;  
    padding-top: 15px;
}

.player{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0;
    position: relative;
}

#volume{
    -webkit-appearance: none;
    height: 6px;
    transform: rotate(-90deg);
    width: 100px;
    position: absolute;
    right: -15%;
    background-color: #f53192;
    border-radius: 4px;

}

#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #f53192;
    width: 15px; /* Adjust thumb width */
    height: 15px; /* Adjust thumb height */
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    margin-top: -2px; /* Adjust thumb position */
}

#progress{
    -webkit-appearance: none;   /* hiding the default slider */
    width: 90%;
    height: 6px;
    background: #f53192;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #f53192;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid white;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls div{
    display: inline-flex;
    width: 60px;
    height: 60px;
    margin: 20px;
    background: white;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f53192;
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
    cursor: pointer;
}

/* enlarging the play button by 1.5 times */
.controls div:nth-child(2){
    transform: scale(1.5);
    background: #f53192;
    color: white;
}

#love,#oneD{
    width: 225px;
    height: 225px;
}

.queue{
    background-color: rgba(243, 189, 222, 0.797);
    height: 66vh;
    overflow-y: auto;
    display: none;
    flex-direction: column;
    border-radius: 12px;
    padding-left: 5px;
    padding-top: 5px;
    position: absolute;
    z-index: 2;
    width: 390px;
    right: 30%;
    bottom: 13%;
}
.queue::-webkit-scrollbar{
    width: 1.5;
}

.songs{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    border-bottom: 2px solid rgb(1, 47, 62);
}

.songs img{
    max-height: 220px;
    max-width: 220px;
    margin-right: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid white;
    cursor: pointer;
}

.song-name {
    font-size: 16px;
    color: black;
    font-weight: 400;
    font-weight: bold;
}